#\\\\\\\\\\\\\#
# \GIT\IGNORE\#
#\\\\\\\\\\\\\#

# Whitelist policy, traverse all directories
*
!*/

# Blacklist unwanted directories
.terraform/
.venv/
.npm/

# Whitelist directories/files/patterns
!.github/*
!.gitignore
!*.md

# Blacklist backup or other files caught in whitelist patterns
*~
*.bak

